:4200

log stdout
errors stderr
gzip
cors

jwt {
    path /api
    except /api/login
}

proxy /api/files tusd:1080
proxy /api/imageproxy imageproxy:1081
proxy /api/metrics/tusd tusd:1080
proxy /api/event/stream pubsub:4302
proxy /api app:4201
proxy /ratel ratel:8000 {
    without /ratel
}
proxy /kibana kibana:5601 {
    without /kibana
}

ext .html .htm .md
markdown
