{$CADDY_URLS} {
    log stdout
    errors stderr
    gzip
    cors

    jwt {
        path /api
        except /api/healthcheck
        except /api/login
        except /api/token
        except /api/register
        except /api/oauth
        except /api/pyadmin
        except /api/lingvo
        except /api/admin
        except /api/file
    }

    proxy /api/pyadmin/ pyadmin:4211 {
        transparent
    }
    proxy /api/lingvo/ pyadmin:4211 {
        transparent
    }
    proxy /api/imageproxy imageproxy:1081 {
        transparent
    }
    proxy /api/event/stream pubsub:4302 {
        transparent
    }
    proxy /api app:4201 {
        transparent
    }
    proxy /kibana kibana:5601 {
        transparent
        without /kibana
    }

    ext .html .htm .md
    markdown

    git {
        repo github.com/lingvograph/site
        branch gh-pages
        path site
        interval 60
    }

    git {
        repo https://github.com/lingvograph/admin.git
        branch gh-pages
        path admin
        interval 60
    }

    rewrite /admin {
        to {path} {path}/ /admin/index.html
    }
    rewrite {
        if {path} is /
        to /site/index.html
    }
    rewrite {
        if {path} is /index.html
        to /site/index.html
    }
}
