http://localhost, lingvograph.com {
    log stdout
    errors stderr
    gzip
    cors

    jwt {
        path /api
        except /api/login
        except /api/token
        except /api/register
        except /api/oauth
        except /api/pyadmin
        except /api/admin
        except /api/file
    }

    proxy /api/pyadmin/ pyadmin:3001 {
        transparent
    }
    proxy /api/imageproxy imageproxy:1081 {
        transparent
    }
    proxy /api/event/stream pubsub:4302 {
        transparent
    }
    proxy /api app:4201 {
        transparent
    }
    proxy /kibana kibana:5601 {
        transparent
        without /kibana
    }

    ext .html .htm .md
    markdown

    git {
        repo github.com/lingvograph/site
        path site
        interval 60
    }

    git {
        repo https://{$BB_AUTH_STRING}@bitbucket.org/stodyshev/lingvograph-admin.git
        branch gh-pages
        path admin
        interval 60
    }

    rewrite /admin/* {path} /{path} /admin/index.html
    rewrite /* {
        if {path} not_match ^/api
        if {path} not_match ^/kibana
        to {path} /{path} /index.html
    }
}
