[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
yapf = "*"
rope = "*"
pylint = "*"

[packages]
python-dotenv = "*"
requests = "*"
tuspy = "*"
Faker = "*"
PyJWT = "*"
s3cmd = "*"
boto3 = "*"
minio = "*"
flask = "*"
flup-py3 = "*"
beautifulsoup4 = "*"
html5lib = "*"
langdetect = "*"
watchdog = "*"
simplejson = "*"
retry = "*"
decorator = "*"
pytest = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.7"
