{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            ">25%",
            "not dead"
          ]
        }
      }
    ],
    "@babel/react"
  ]
}
